// -------------colors ------------//
$white:      #ffffff;
$primary:    #3097ff;
$light:      #f9f9fa;
$secondary:  #6b717f;
$dark:       #323c47;
$success:    #7eb371;
$danger:     #ff7756;
$info:       #bbbec2;

