.search-icon {
  top: 10px;
  color: $info;
  @media (max-width: 768px) {
    top: 18px;
  }
}
.user-profile {
  height: $user-img-height;
}
.navbar-brand-width
{
  @media (min-width: 768px) {
  flex-basis: 250px;
  }
}